{
  "extends": "@stormid/eslint-config",
  "ignorePatterns": ["node_modules/", "**/dist/"],
  "overrides": [
    {
      "files": ["**/__tests__/**/*.js"],
      "env": { "jest": false },
      "globals": { "globalThis": "readonly" },
      "rules": {
        "jest/expect-expect": "off",
        "jest/no-test-callback": "off",
        "jest/no-done-callback": "off",
        "jest/no-disabled-tests": "off",
        "jest/valid-expect": "off"
      }
    }
  ]
}
